<h1>Application Form</h1>

<%= form_with url: applications_path, method: :post, local: true do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name, :placeholder => "Name" %><br>
  <%= f.label :steet, "Street Address:" %>
  <%= f.text_field :street %><br>
  <%= f.submit "Submit Application" %>
<% end %>
