<h2>Application</h2>

<b>Applicant Name</b><br>
  <p><%= @application.name %></p>
<b>Address</b><br>
  <p><%= @application.street %>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zip %></p>
<b>Description</b><br>
  <p><%= @application.description %></p><br>
<b>Application Status</b><br>
  <p><%= @application.status %></p>

  <% @application.pets.each do |pet| %>
    <a href="/pets/<%= pet.id %>"><%= pet.name %></a><br>
  <% end %>

<% if @application.status == "In Progress" %>
    <%= form_with url: application_path(@application.id), method: :get, local: true do |f| %>
      <p>Add a Pet to this Application</p>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
  <% end %>
<% end %>

<% if @pets %>
  <% @pets.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %>
    <%= button_to 'Adopt this Pet', application_pets_path({application_id: @application.id, pet_id: pet.id}), method: :post %>
  <% end %>
<% end %>
