<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Do Better. Adopt. Don't Shop.</title>
  <!-- Added from w3schools -->
    <meta charset="utf-8">
  <!-- end of add from w3schools -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Added from w3schools -->
   <style>
   .fakeimg {
     height: 50px;
     background: #aaa;
   }
 </style>
 <!-- end of add from w3schools -->
  </head>
  <body>
    <!-- Added from w3schools -->
    <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Do Better. Adopt. Don't Shop.</h1>
        <div class="fakeimg">Add picture of pesto here</div>

  <p>white space here.</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Do Better. Adopt. Don't Shop.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="/pets">Pets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shelters">Shelters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/veterinarians">Veterinarians</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/veterinary_offices">Veterinary Offices</a>
      </li>
    </ul>
  </div>
</nav>

<!-- from original repo -->
<%= render 'shared/flash' %>
<%= yield %>
<!-- end of original repo -->

<!-- footer -->
<div class="jumbotron text-center" style="margin-bottom:0" size="5px">
  <p><a href="https://github.com/cdelpone">Christina's Github</a><br>
    <a href="https://github.com/cdelpone/adopt_dont_shop/projects/1">This GitHub Project</a><br>
    <br>
  </p>
</div>
  </body>
</html>
